<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Testing EGauge Map</title>
    <script type="text/javascript" src="../../static/d3.js"></script>
    <script type="text/javascript" src="../../static/d3.geo.js"></script>
    <link type="text/css" rel="stylesheet" href="choropleth.css"/>
    <link type="text/css" rel="stylesheet" href="../../static/lib/colorbrewer/colorbrewer.css"/>
  </head>
  <body>
    <div id="chart"></div>
    <script type="text/javascript" src="choropleth.js"></script>
    <script type="text/javascript" src="romney_data.js"></script>
  </body>
</html>
