{% extends "base.html" %}

{# TODO: Move metadata info to this template, title, descript, etc. #}

{% block page_head %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}/js_css/choropleth/choropleth.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}/js_css/d3/lib/colorbrewer/colorbrewer.css"/>
{% endblock %}


{% block main %}
<div class="row">
    <div class="span12">
        <ul class="nav nav-tabs">
            {% for c in active_candidates %}
            <li {% if forloop.first %}class="active"{% endif %}><a href="#{{ c.0 }}" data-toggle="tab">{{ c.1 }}</a></li>
            {% endfor %}
        </ul>

        <div id="myTabContent" class="tab-content">
            {% for c in active_candidates %}
            <div class="tab-pane fade {% if forloop.first %}in active{% endif %}" id="{{ c.0 }}">
            </div>
            {% endfor %}
        </div>
    <div>
    <div id="chart"></div>
</div>
{% endblock main %}


{% block footer %}
<script type="text/javascript" src="{{ STATIC_URL }}/js_css/d3/d3.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js_css/d3/d3.geo.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js_css/bootstrap/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js_css/bootstrap/bootstrap-tab.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js_css/bootstrap/bootstrap-transition.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js_css/choropleth/choropleth.js"></script>

<script>
// Load the first candidate in the map.
$(document).ready(function() {
  // TODO: load the first person on the view.
  $('#chart').hide();
  {% for c in active_candidates %}
  {% if forloop.first %}
  loadjson('/static/data/json/zipmap_{{ c.0 }}.json')
  {% endif %}
  {% endfor %}
  $('#chart').fadeIn();
});
</script>
{% endblock %}