<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>#TODO Add title</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}/js_css/bootstrap/1.4.0/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    {% block page_head %}{% endblock %}
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Egauge</a>
          <ul class="nav">
            <li class="active"><a href="#">Map</a></li>
            <li><a href="#about">Table</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>#TODO: WRITE HEADLINE <small>#TODO: Write subhead</small></h1>
            <p> #TODO: Write short explainer text & put here: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed nisl purus, nec sagittis ipsum. Quisque egestas dolor quis lacus dignissim tincidunt. Donec eu eros nunc, ac auctor ipsum. Aliquam ut turpis sem, et volutpat libero. Nam massa nunc.
            </p>
        </div>

        {% block main %}{% endblock %}


      <footer>
        <p>&copy; #TODO: Add copyright? Company 2011</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
